@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* 
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: #fff;
} */

/* * {
    box-sizing: border-box;
} */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}

.contact-heading {
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.contact-heading span {
    color: orangered;
}

.contact-heading img{
    width: 50px;
    margin-right: 10px;
    
}
.contact-column {
    display: flex;

    flex-direction: row;
    align-items: center;
   

    
}


.animation-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.animation-column img{
    
    width: 80%;
    
}
 


.contact-form {
    display: flex;
    flex-direction: column;
    display: block;
    width: 70%;
    margin-right: 150px;
    
}

.contact-form h3{

    display: flex;
    justify-content: start;
    /* margin-top: 0px; */
    font-family: 'Montserrat',sans-serif;
    
    color: #fff;
    font-size: 22px;
    margin-left: 15px;
    
}

form input,
textarea {
    width: 100%;
    margin: 15px;
    padding: 10px;
    font-family: "Poppins";
    /* background-color: #000000; */
    border: 1px solid #ddd;
    border-radius: 5px;
}



form span {
    color: orangered;
}

form button {
    height: 40px;
    width: 104%;
    margin-left: 15px;
    align-items: center;
    border: 2px solid #444444;
    border-radius: 5px;
    background-color: #222222;
    color: orangered;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    
}

form button:hover {
    background-color: orangered;
    color: #fff;
}
