/* Card Slider Container */
.card-slider {
    height: 80vh;
    margin-top: 30px;
    width: 80vw;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

/* Slider List Container */
.card-slider .list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Individual Item in the Slider List */
.card-slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Active Item in the Slider List */
.card-slider .list .item.active {
    opacity: 1;
}

/* Image in Each Slider Item */
.card-slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    filter: blur(1px);
    /* -webkit-filter: blur(2px); */
}

/* Content Overlay in Each Slider Item */
.card-slider .list .item .content {
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

/* Title in Each Slider Item */
.card-slider .list .item .title {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.3em;
    color: rgb(245, 104, 53);

}

/* Topic in Each Slider Item */
.card-slider .list .item .topic {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.7em;
    color: white;
    padding-top: 10px;
    
}


/* Description in Each Slider Item */
.des {
    font-size: 18px;
    line-height: 1.6em;
    padding-top: 5px;
    align-items: center;
}

/* Links Container in Each Slider Item */
.card-slider .list .item .links {
    position: absolute;
    top: 60vh;
    left: 5%;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Links in Each Slider Item */
.card-slider .list .item .links a {
    color: #fff;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(73, 71, 71, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-slider .list .item .links a:hover {
    background-color: #fff;
    color: #000;
}

/* Thumbnail Container */
.thumbnail {
    position: absolute;
    bottom: 25px;
    left: 52%;
    width: max-content;
    z-index: 1;
    display: flex;
    gap: 20px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

/* Individual Thumbnail Item */
.thumbnail .item {
    width: 180px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
    transition: transform 0.5s ease-in-out;
    opacity: 0.9;
}

/* Thumbnail Image */
.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

/* Active Thumbnail Item */
.thumbnail .item.active {
    opacity: 1;
}

/* Thumbnail Content Overlay */
.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

/* Thumbnail Title */
.thumbnail .item .content .title {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Animation for thumbnail transformation */
.card-slider.next .thumbnail .item {
    transform: translateX(100%);
}

.card-slider.prev .thumbnail .item {
    transform: translateX(-100%);
}

/* Navigation Arrows */
.arrows {
    position: absolute;
    top: 85%;
    right:45%;
    z-index: 1;
    width: 20vw;
    max-width: 70%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.arrows button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #444444;
    border: none;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

#prev, #next {

    font-size: 20px;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* Animation for the first item */
.card-slider .list .item:nth-child(1) {
    z-index: 1;
}

.card-slider .list .item:nth-child(1) .content .author,
.card-slider .list .item:nth-child(1) .content .title,
.card-slider .list .item:nth-child(1) .content .topic,
.card-slider .list .item:nth-child(1) .content .des,
.card-slider .list .item:nth-child(1) .content .buttons,
.card-slider .list .item:nth-child(1) .links {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.2s 1s linear 1 forwards;
}

/* Animation Keyframes */
@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.card-slider .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.card-slider .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}

.card-slider .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}

.card-slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

.card-slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.card-slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.card-slider.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.card-slider.next .thumbnail {
    animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}


.card-slider .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.card-slider.next .time,
.card-slider.prev .time {
    animation: runningTime 2s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


.card-slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.card-slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.card-slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.card-slider.next .arrows button,
.card-slider.prev .arrows button {
    pointer-events: none;
}

.card-slider.prev .list .item .content .author,
.card-slider.prev .list .item .content .title,
.card-slider.prev .list .item .content .topic,
.card-slider.prev .list .item .content .des,
.card-slider.prev .list .item .content .buttons,
.card-slider.prev .list .item .links {
    animation: contentOut 1s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .card-slider {
        position: relative;
        height: 40vh;
        width: 90%;
        margin: 20px;
    }

    .card-slider .list {
        flex-direction: column; /* Stack items vertically in responsive view */
        height: 100%;
    }

    .card-slider .list .item {
        width: 100%; /* Take full width in responsive view */
    }

    .card-slider .list .item img {
        height: 100%;
        object-fit: fill;
        filter: blur(0);
        opacity: 0.6;
    }

    .card-slider .list .item .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 20px;
    }

    .card-slider .list .item .content .title {
        font-size: px;
    }

    .card-slider .list .item .content .topic {
        font-size: 20px;
    }

    .card-slider .list .item .content .des {
        font-size: 16px;
    }
    .thumbnail {
        display: none;
    }

    .arrows {
        top: 90%;
        left: 40%;
    }

    .arrows button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}