/* Import your font and global styles */

.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #030b0d;
  margin: 40px;
  
}

.carousel {
  width: 78%; /* Adjust as needed */
  overflow: hidden;
  margin: 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  width: 40vw; /* Adjust as needed */
  /* aspect-ratio: 1 / 0.7; */
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-right: 20px; /* Adjust as needed for spacing between cards */
}

.card:last-child {
  margin-right: 0; /* Remove margin for the last card */
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 15px;
}

.content {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1{

  color: white;
  font-size: 24px;
}

.content h2{
  font-size: 18px;
  color: #fff;
}

.content h1,
.content p,
.content h2,
.content .certificate-button{
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content h4{

  position: absolute;
  top: -33%;
  left: 30%;
  color: white;
  font-weight: lighter;
  font-size: 16px;
}

.content h1 , 
.content h2,
.content .certificate-button{
  /* margin-bottom: 12px; */
  transform: scale(0.7);
}



.content h4{
  transform: scale(0.7);
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

.card:hover .content h1 , 
.card:hover .content h2,
.card:hover .content h4,
.card:hover .content p,
.card:hover .content .certificate-button{
  transform: scale(1);
  opacity: 1;
}



/* .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
} */

/* .prev {
  left: 10px;
}

.next {
  right: 10px;
} */

.certificate-button {
  position: absolute;
  top: -50px;
  right: -20px;
  display: flex;
  align-items: center;
  border: 2px solid orangered;
  border-radius: 5px;
  background-color: orangered;
  padding: 5px 10px;
}

.certificate-icon {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  padding-right: 5px;
  
}

.certificate-button a {
  text-decoration: none;
  color: #d1d1d1;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.certificate-button span {
  font-size: 15px;
  font-weight: 500;
}


  