/* Import your font and global styles */

.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #030b0d;
}

.carousel {
  width: 80%; /* Adjust as needed */
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  width: 30vw; /* Adjust as needed */
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-right: 20px; /* Adjust as needed for spacing between cards */
}

.card:last-child {
  margin-right: 0; /* Remove margin for the last card */
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h2,
.content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content h2 {
  margin-bottom: 12px;
  transform: scale(0.7);
}

.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

.card:hover .content h2 {
  transform: scale(1);
  opacity: 1;
}

.card:hover .content p {
  opacity: 1;
  transform: translateY(0);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
