/* work.css */

.work-experience-section {
    /* Add any styling for the overall section */
  }
  
  .slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; /* Adjust the width as needed */
  }
  
  .company-logo {
    width: 80px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 10px;
  }
  
  .company-details {
    text-align: center;
  }
  
  .company-name {
    font-size: 14px;
    font-weight: bold;
  }
  
  .role {
    font-size: 18px;
    font-weight: bold;
  }
  
  .duration {
    font-size: 14px;
    color: gray;
  }
  
  .right-side {
    width: 40%; /* Adjust the width as needed */
  }
  
  .project-details {
    text-align: center;
  }
  
  .project-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .arrow {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .arrow:hover {
    color: #ff014f; /* Change to your desired hover color */
  }
  