/* workExperience.css */
.work-experience-card {
  display: flex;
  margin-top: 50px ;
  
 
}

.carousal {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.leftsection {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  color: #fff;
  border: 2px ;
  display: inline-flex;
  box-shadow: 5px 5px 5px 5px #555555;
  border-radius: 20px;

}

.company-logo {
  margin-bottom: 10px;
}

.company-logo img {

  width: 60%;
  max-width: 100%;
  height: auto;
  padding-left: 90px;
  padding-top: 30px;
}

.rightsection {

  width: 60%;
  padding-left: 100px; /* Adjust padding as needed */
  color: #fff;
}

/* Add any additional styling as needed */
