/* src/skills/skills.css */

.skills-container {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: white;
}

.skills-header h1 {
  margin: 5px;
  font-size: 42px;
  padding-left: 10px;
  padding-bottom: 5px;
  position: relative;
}

.skills-header h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1;
  width: 100%;
  height: 2px;
  background-color: white;
}

.skills-header span {
  color: orangered;
}

  
  header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;


    
  }

  .header button{

    font-family: 'Exo 2', sans-serif;
  }

  .buttonText {

    font-size: 24px;
  }
  
  .page {
    padding: 10px;
    margin-right: 10px;
    background-color: #222222;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: "josefin sans", sans-serif;
  }
  
  .page.selected {
    background-color: orangered;
    border-radius: 5px;
  }
  
  .skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .skill-item {
    padding: 5px 20px;
    margin: 30px 25px;
    background-color: #222222; /* Background color for the cards */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    height: 145px; /* Set a fixed height for each skill card */
    box-shadow: 0 4px 8px rgba(144, 142, 142, 0.373); /* Add a box-shadow for a 3D effect */
    border-radius: 20px;
    transition: box-shadow 0.3s; /* Add a transition for a smooth effect */
    overflow: hidden; /* Hide any overflow to prevent content spillover */
    cursor: pointer;
    

  img {
    transition: transform 0.5s; /* Add a transition for smooth movement */
  }

  p {
    transition: transform 0.5s; /* Add a transition for smooth movement */
  }

  /* Hover effect */
  &:hover img, &:hover p {
    color: orangered;
    transform: translateY(-20px); /* Slide only the skill info (logo and text) upward on hover */
  }
  
    
  }
  
  .skill-item img {
    width: 100%;
    height: 60%; /* Adjust the height as needed */
    object-fit: contain; /* or object-fit: cover; depending on your preference */
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 3px;
    
    
  }

  .skill-item p {

    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    margin-top: 10px ;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  
  .white-logo {
    filter: invert(1); /* Invert colors for the white logo */
  }

  @media (max-width: 768px) {
  .skill-item {
    width: calc(35% - 30px);
    height: 120px;
    margin-right: 20px; 
    margin-left: 15px;/* Remove right margin for better spacing */
    
  }

  header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 20px;
    
  }

  .skills-header {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      color: white;
      margin-left: 10px;
    }
    
    .skills-header h1 {
      margin: 5px;
      font-size: 30px;
      padding-left: 10px;
      padding-bottom: 5px;
      position: relative;
    }
    
    .skills-header h1::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1;
      width: 100%;
      height: 2px;
      background-color: white;
    }
    
    .skills-header span {
      color: orangered;
    }
    

  

}